USE [master]
GO
/****** Object:  Database [AutoPartsStoreDB]    Script Date: 5/7/2026 3:46:24 PM ******/
CREATE DATABASE [AutoPartsStoreDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AutoPartsStoreDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\AutoPartsStoreDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AutoPartsStoreDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\AutoPartsStoreDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AutoPartsStoreDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AutoPartsStoreDB]
GO
/****** Object:  Table [dbo].[Parts]    Script Date: 5/7/2026 3:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Parts](
	[PartID] [int] IDENTITY(1,1) NOT NULL,
	[PartName] [nvarchar](50) NOT NULL,
	[PartNumber] [nvarchar](50) NOT NULL,
	[PurchasePrice] [decimal](12, 2) NOT NULL,
	[SellingPrice] [decimal](12, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[MinimumStock] [int] NULL,
	[CategoryID] [int] NULL,
	[Notes] [nvarchar](max) NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK__Parts__7C3F0D305AF73EC6] PRIMARY KEY CLUSTERED 
(
	[PartID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[partscategories]    Script Date: 5/7/2026 3:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[partscategories](
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
	[categoryName] [nvarchar](50) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK__partscat__23CAF1F86D683528] PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_StockAudit]    Script Date: 5/7/2026 3:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_StockAudit] AS
SELECT
    p.PartID,
    p.PartName,
    p.PartNumber,
    ISNULL(c.categoryName, N'—')                                              AS Category,
    p.Quantity,
    p.PurchasePrice,
    p.SellingPrice,
    CAST(p.Quantity * p.PurchasePrice AS DECIMAL(18,2))                       AS TotalCostValue,
    CAST(p.Quantity * p.SellingPrice  AS DECIMAL(18,2))                       AS TotalSellingValue,
    CAST((p.SellingPrice - p.PurchasePrice) * p.Quantity AS DECIMAL(18,2))    AS PotentialProfit,
    ISNULL(p.MinimumStock, 0)                                                 AS MinimumStock,
    CASE
        WHEN p.Quantity  = 0                    THEN N'نفد المخزون'
        WHEN p.Quantity <= ISNULL(p.MinimumStock,0) THEN N'تحت الحد الأدنى'
        ELSE                                         N'طبيعي'
    END                                                                       AS StockStatus
FROM  Parts p
LEFT JOIN partscategories c ON p.CategoryID = c.categoryID
WHERE p.isDeleted = 0;

GO
/****** Object:  Table [dbo].[Invoices]    Script Date: 5/7/2026 3:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoices](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Time] [datetime2](7) NOT NULL,
	[PaymentMethod] [nvarchar](20) NULL,
	[TotalAmount] [decimal](18, 2) NOT NULL,
	[UserID] [int] NOT NULL,
	[supplierID] [int] NULL,
	[customerID] [int] NULL,
	[invoiceType] [nvarchar](50) NOT NULL,
	[paidamount] [nchar](10) NOT NULL,
 CONSTRAINT [PK__Invoices__3214EC27DAB333BE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 5/7/2026 3:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Quantity] [int] NOT NULL,
	[PartPrice] [decimal](18, 2) NOT NULL,
	[Total] [decimal](18, 2) NOT NULL,
	[PartID] [int] NOT NULL,
	[InvoiceID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_StagnantItems]    Script Date: 5/7/2026 3:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_StagnantItems] AS
SELECT
    p.PartID,
    p.PartName,
    p.PartNumber,
    ISNULL(c.categoryName, N'—')                                  AS Category,
    p.Quantity,
    p.PurchasePrice,
    CAST(p.Quantity * p.PurchasePrice AS DECIMAL(18,2))           AS TotalValue,
    ISNULL(
        DATEDIFF(DAY,
            (SELECT MAX(i.Time)
             FROM   InvoiceDetails id2
             JOIN   Invoices i ON id2.InvoiceID = i.ID
             WHERE  id2.PartID = p.PartID
               AND  i.invoiceType = N'مبيعات'),
            GETDATE()),
        9999)                                                      AS DaysSinceLastSale
FROM  Parts p
LEFT JOIN partscategories c ON p.CategoryID = c.categoryID
WHERE p.isDeleted = 0
  AND p.PartID NOT IN (
        SELECT DISTINCT id.PartID
        FROM   InvoiceDetails id
        JOIN   Invoices i ON id.InvoiceID = i.ID
        WHERE  i.invoiceType = N'مبيعات'
          AND  i.Time >= DATEADD(DAY, -90, GETDATE()));

GO
/****** Object:  View [dbo].[vw_LowStockAlert]    Script Date: 5/7/2026 3:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_LowStockAlert] AS
SELECT
    p.PartID,
    p.PartName,
    p.PartNumber,
    ISNULL(c.categoryName, N'—')                                                    AS Category,
    p.Quantity                                                                       AS CurrentStock,
    ISNULL(p.MinimumStock, 0)                                                       AS MinimumStock,
    ISNULL(p.MinimumStock, 0) - p.Quantity                                          AS Shortage,
    p.PurchasePrice,
    CAST((ISNULL(p.MinimumStock,0) - p.Quantity) * p.PurchasePrice AS DECIMAL(18,2)) AS EstimatedReplenishmentCost
FROM  Parts p
LEFT JOIN partscategories c ON p.CategoryID = c.categoryID
WHERE p.isDeleted = 0
  AND p.Quantity <= ISNULL(p.MinimumStock, 0);

GO
/****** Object:  View [dbo].[vw_ProfitReport]    Script Date: 5/7/2026 3:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_ProfitReport] AS
SELECT
    i.ID                                                                              AS InvoiceID,
    CAST(i.Time AS DATE)                                                              AS SaleDate,
    p.PartID,
    p.PartName,
    ISNULL(cat.categoryName, N'—')                                                   AS Category,
    CAST(id.Quantity AS DECIMAL(18,2))                                                AS Quantity,
    id.PartPrice                                                                      AS SellingPrice,
    p.PurchasePrice,
    id.Total                                                                          AS Revenue,
    CAST((id.PartPrice - p.PurchasePrice) * id.Quantity AS DECIMAL(18,2))            AS GrossProfit,
    CAST(CASE WHEN id.PartPrice > 0
         THEN ((id.PartPrice - p.PurchasePrice) / id.PartPrice) * 100
         ELSE 0 END AS DECIMAL(5,2))                                                  AS ProfitMarginPct
FROM  Invoices i
JOIN  InvoiceDetails id  ON i.ID       = id.InvoiceID
JOIN  Parts p            ON id.PartID  = p.PartID
LEFT JOIN partscategories cat ON p.CategoryID = cat.categoryID
WHERE i.invoiceType = N'مبيعات';

GO
/****** Object:  View [dbo].[vw_TopSellingItems]    Script Date: 5/7/2026 3:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_TopSellingItems] AS
SELECT
    p.PartID,
    p.PartName,
    p.PartNumber,
    ISNULL(cat.categoryName, N'—')                                                     AS Category,
    SUM(id.Quantity)                                                                    AS TotalSold,
    CAST(SUM(id.Total) AS DECIMAL(18,2))                                                AS TotalRevenue,
    CAST(SUM((id.PartPrice - p.PurchasePrice) * id.Quantity) AS DECIMAL(18,2))          AS TotalProfit,
    CAST(CASE WHEN SUM(id.Total) > 0
         THEN SUM((id.PartPrice - p.PurchasePrice) * id.Quantity) / SUM(id.Total) * 100
         ELSE 0 END AS DECIMAL(5,2))                                                    AS AvgMarginPct
FROM  InvoiceDetails id
JOIN  Invoices i              ON id.InvoiceID = i.ID
JOIN  Parts p                 ON id.PartID    = p.PartID
LEFT JOIN partscategories cat ON p.CategoryID = cat.categoryID
WHERE i.invoiceType = N'مبيعات'
GROUP BY p.PartID, p.PartName, p.PartNumber, cat.categoryName;

GO
/****** Object:  Table [dbo].[SafeTransactions]    Script Date: 5/7/2026 3:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SafeTransactions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[TransactionType] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[TransactionDate] [datetime] NULL,
	[UserID] [int] NULL,
	[InvoiceID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/7/2026 3:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserName] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[Role] [nvarchar](20) NOT NULL,
	[ID] [int] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_SafeLedger]    Script Date: 5/7/2026 3:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_SafeLedger] AS
SELECT
    st.ID,
    st.TransactionDate,
    st.TransactionType,
    st.Amount,
    st.Description,
    ISNULL(u.UserName, N'—')      AS UserName,
    ISNULL(i.invoiceType, N'—')   AS InvoiceType,
    st.InvoiceID,
    SUM(st.Amount * CASE WHEN st.TransactionType = N'إيداع' THEN 1 ELSE -1 END)
        OVER (ORDER BY st.ID ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) AS RunningBalance
FROM  SafeTransactions st
LEFT JOIN Users   u ON st.UserID    = u.ID
LEFT JOIN Invoices i ON st.InvoiceID = i.ID;

GO
/****** Object:  Table [dbo].[person]    Script Date: 5/7/2026 3:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[person](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PersonName] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](11) NULL,
	[address] [nvarchar](50) NULL,
	[isdeleted] [bit] NOT NULL,
 CONSTRAINT [PK__person__3214EC2711D5BFC9] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 5/7/2026 3:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[ID] [int] NOT NULL,
	[Balance] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK__customer__3214EC27F432F876] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_AccountsReceivable]    Script Date: 5/7/2026 3:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_AccountsReceivable] AS
SELECT
    p.ID                                                                          AS PersonID,
    p.PersonName,
    ISNULL(p.Phone,   N'—')                                                       AS Phone,
    ISNULL(p.address, N'—')                                                       AS Address,
    ISNULL(SUM(
        CASE WHEN i.invoiceType = N'مبيعات'
             THEN i.TotalAmount - ISNULL(TRY_CAST(i.paidamount AS DECIMAL(18,2)), 0)
             ELSE 0 END), 0)                                                      AS OutstandingBalance,
    COUNT(DISTINCT CASE WHEN i.invoiceType = N'مبيعات' THEN i.ID END)            AS InvoiceCount
FROM  person p
JOIN  customers c  ON p.ID = c.ID
LEFT JOIN Invoices i ON i.customerID = c.ID
WHERE p.isdeleted = 0
GROUP BY p.ID, p.PersonName, p.Phone, p.address;

GO
/****** Object:  Table [dbo].[supplieres]    Script Date: 5/7/2026 3:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[supplieres](
	[ID] [int] NOT NULL,
	[Balance] [decimal](18, 2) NULL,
 CONSTRAINT [PK__supplier__3214EC2790003C8E] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_AccountsPayable]    Script Date: 5/7/2026 3:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_AccountsPayable] AS
SELECT
    p.ID                                                                          AS PersonID,
    p.PersonName,
    ISNULL(p.Phone,   N'—')                                                       AS Phone,
    ISNULL(p.address, N'—')                                                       AS Address,
    ISNULL(SUM(
        CASE WHEN i.invoiceType = N'مشتريات'
             THEN i.TotalAmount - ISNULL(TRY_CAST(i.paidamount AS DECIMAL(18,2)), 0)
             ELSE 0 END), 0)                                                      AS OutstandingBalance,
    COUNT(DISTINCT CASE WHEN i.invoiceType = N'مشتريات' THEN i.ID END)           AS InvoiceCount
FROM  person p
JOIN  supplieres s ON p.ID = s.ID
LEFT JOIN Invoices i ON i.supplierID = s.ID
WHERE p.isdeleted = 0
GROUP BY p.ID, p.PersonName, p.Phone, p.address;

GO
/****** Object:  Table [dbo].[inventoryTransactions]    Script Date: 5/7/2026 3:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[inventoryTransactions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionsType] [nvarchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Date] [datetime2](7) NULL,
	[notes] [nvarchar](50) NULL,
	[PartId] [int] NOT NULL,
	[userId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReturnDetails]    Script Date: 5/7/2026 3:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReturnDetails](
	[DetailID] [int] IDENTITY(1,1) NOT NULL,
	[ReturnID] [int] NOT NULL,
	[PartID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[RefundAmount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_ReturnDetails] PRIMARY KEY CLUSTERED 
(
	[DetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Returns]    Script Date: 5/7/2026 3:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Returns](
	[ReturnID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[TotalRefundedAmount] [decimal](18, 2) NOT NULL,
	[ReturnDate] [datetime] NULL,
	[UserID] [int] NOT NULL,
	[Notes] [nvarchar](250) NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[CashReturned] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK__SalesRet__F445E9885B4CECEE] PRIMARY KEY CLUSTERED 
(
	[ReturnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 5/7/2026 3:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RoleID] [int] NOT NULL,
	[PermissionID] [int] NOT NULL,
	[IsGranted] [bit] NOT NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreSettings]    Script Date: 5/7/2026 3:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreSettings](
	[SettingKey] [nvarchar](100) NOT NULL,
	[SettingValue] [nvarchar](max) NULL,
	[SettingGroup] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_StoreSettings] PRIMARY KEY CLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemPermissions]    Script Date: 5/7/2026 3:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemPermissions](
	[PermissionID] [int] IDENTITY(1,1) NOT NULL,
	[PermissionKey] [nvarchar](100) NOT NULL,
	[DisplayName] [nvarchar](100) NOT NULL,
	[Module] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SystemPermissions] PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PermissionKey] UNIQUE NONCLUSTERED 
(
	[PermissionKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemRoles]    Script Date: 5/7/2026 3:46:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemRoles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
	[IsBuiltIn] [bit] NOT NULL,
 CONSTRAINT [PK_SystemRoles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_RoleName] UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Parts] ADD  CONSTRAINT [DF_Parts_isDeleted]  DEFAULT ((0)) FOR [isDeleted]
GO
ALTER TABLE [dbo].[partscategories] ADD  CONSTRAINT [DF_partscategories_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[person] ADD  CONSTRAINT [DF_person_isdeleted]  DEFAULT ((0)) FOR [isdeleted]
GO
ALTER TABLE [dbo].[Returns] ADD  CONSTRAINT [DF__SalesRetu__Retur__09746778]  DEFAULT (getdate()) FOR [ReturnDate]
GO
ALTER TABLE [dbo].[Returns] ADD  CONSTRAINT [DF_Returns_CashReturned]  DEFAULT ((0)) FOR [CashReturned]
GO
ALTER TABLE [dbo].[RolePermissions] ADD  DEFAULT ((1)) FOR [IsGranted]
GO
ALTER TABLE [dbo].[SafeTransactions] ADD  DEFAULT (getdate()) FOR [TransactionDate]
GO
ALTER TABLE [dbo].[StoreSettings] ADD  DEFAULT (N'General') FOR [SettingGroup]
GO
ALTER TABLE [dbo].[SystemRoles] ADD  DEFAULT ((0)) FOR [IsBuiltIn]
GO
ALTER TABLE [dbo].[customers]  WITH CHECK ADD  CONSTRAINT [FK_customers_person] FOREIGN KEY([ID])
REFERENCES [dbo].[person] ([ID])
GO
ALTER TABLE [dbo].[customers] CHECK CONSTRAINT [FK_customers_person]
GO
ALTER TABLE [dbo].[inventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_inventoryTransactions_Parts] FOREIGN KEY([PartId])
REFERENCES [dbo].[Parts] ([PartID])
GO
ALTER TABLE [dbo].[inventoryTransactions] CHECK CONSTRAINT [FK_inventoryTransactions_Parts]
GO
ALTER TABLE [dbo].[inventoryTransactions]  WITH CHECK ADD  CONSTRAINT [FK_inventoryTransactions_Users] FOREIGN KEY([userId])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[inventoryTransactions] CHECK CONSTRAINT [FK_inventoryTransactions_Users]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetails_Invoices] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([ID])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Invoices]
GO
ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetails_Parts] FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([PartID])
GO
ALTER TABLE [dbo].[InvoiceDetails] CHECK CONSTRAINT [FK_InvoiceDetails_Parts]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_customers1] FOREIGN KEY([customerID])
REFERENCES [dbo].[customers] ([ID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_customers1]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_supplieres1] FOREIGN KEY([supplierID])
REFERENCES [dbo].[supplieres] ([ID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_supplieres1]
GO
ALTER TABLE [dbo].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Invoices_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Invoices] CHECK CONSTRAINT [FK_Invoices_Users]
GO
ALTER TABLE [dbo].[Parts]  WITH CHECK ADD  CONSTRAINT [FK_Parts_partscategories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[partscategories] ([categoryID])
GO
ALTER TABLE [dbo].[Parts] CHECK CONSTRAINT [FK_Parts_partscategories]
GO
ALTER TABLE [dbo].[ReturnDetails]  WITH CHECK ADD  CONSTRAINT [FK_ReturnDetails_Parts] FOREIGN KEY([PartID])
REFERENCES [dbo].[Parts] ([PartID])
GO
ALTER TABLE [dbo].[ReturnDetails] CHECK CONSTRAINT [FK_ReturnDetails_Parts]
GO
ALTER TABLE [dbo].[ReturnDetails]  WITH CHECK ADD  CONSTRAINT [FK_ReturnDetails_Returns] FOREIGN KEY([ReturnID])
REFERENCES [dbo].[Returns] ([ReturnID])
GO
ALTER TABLE [dbo].[ReturnDetails] CHECK CONSTRAINT [FK_ReturnDetails_Returns]
GO
ALTER TABLE [dbo].[Returns]  WITH CHECK ADD  CONSTRAINT [FK_Returns_Invoices] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([ID])
GO
ALTER TABLE [dbo].[Returns] CHECK CONSTRAINT [FK_Returns_Invoices]
GO
ALTER TABLE [dbo].[Returns]  WITH CHECK ADD  CONSTRAINT [FK_Returns_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Returns] CHECK CONSTRAINT [FK_Returns_Users]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RP_Permission] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[SystemPermissions] ([PermissionID])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RP_Permission]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_RP_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[SystemRoles] ([RoleID])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_RP_Role]
GO
ALTER TABLE [dbo].[SafeTransactions]  WITH CHECK ADD  CONSTRAINT [FK_Safe_Invoices] FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoices] ([ID])
GO
ALTER TABLE [dbo].[SafeTransactions] CHECK CONSTRAINT [FK_Safe_Invoices]
GO
ALTER TABLE [dbo].[SafeTransactions]  WITH CHECK ADD  CONSTRAINT [FK_Safe_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[SafeTransactions] CHECK CONSTRAINT [FK_Safe_Users]
GO
ALTER TABLE [dbo].[supplieres]  WITH CHECK ADD  CONSTRAINT [FK_supplieres_person] FOREIGN KEY([ID])
REFERENCES [dbo].[person] ([ID])
GO
ALTER TABLE [dbo].[supplieres] CHECK CONSTRAINT [FK_supplieres_person]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_person] FOREIGN KEY([ID])
REFERENCES [dbo].[person] ([ID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_person]
GO
USE [master]
GO
